[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "latenetwork"]
	path = latenetwork
	url = https://github.com/tkhdyanagi/latenetwork
[submodule "panelhetero"]
	path = panelhetero
	url = https://github.com/tkhdyanagi/panelhetero
